<launch>
	<!-- roslaunch myrobotmaster myrobotmaster_joy.launch -->

	<!-- DRIVER DEL JOYSTICK 
	va impostato "ANALOG sul Joy e premere il pulsante 1 per abilitare  
	se joy2cmd_vel va in crash cambiare js0 in js1 o viceversa
	-->
	<arg name="joy_config" default="ps3" />
	<!--<arg name="joy_dev" default="/dev/input/js0" />-->
<arg name="joy_dev" default="/dev/input/by-id/usb-Thrustmaster_T_Mini-joystick" />
	

	<node pkg="joy" type="joy_node" name="joy_driver">
		<param name="dev" value="$(arg joy_dev)" />
		<param name="deadzone" value="0.001" />
		<param name="autorepeat_rate" value="30" />
	</node>





	<!-- teleop_twist_joy converte in  cmd_vel  i valori del joystixk (da 0 a 1) -->
	<node pkg="teleop_twist_joy" name="joy2cmd_vel" type="teleop_node">			
		<param name="axis_linear" value="1"/>
		<param name="axis_angular" value="0"/>
		
		<param name="scale_linear" value="0.5"/>
		<param name="scale_angular" value="2.5"/>	
		 <remap from="cmd_vel"  to="joy/cmd_vel"/>
	</node> 


</launch>
