<launch>
<!--
Per salvare poi la mappa esegui 
roscd myrobotmaster
rosrun map_server map_saver -f  map/mappa1
oppure
      rosrun map_server map_saver -f /home/luca/ros/src/myrobot/myrobotmaster/map/chiavari

-->

<!-- fake odom quando sono senza robot
	<include file="$(find myrobotmaster)/launch/myrobotmaster__fake_odom_base.launch"/>
 -->


<!--  modello urdf -->
	<include file="$(find myrobotmaster)/launch/myrobotmaster_urdf.launch"/>


	
<!-- tf fisse -->
	<include file="$(find myrobotmaster)/launch/myrobotmaster_tf.launch"/>


<!-- map server 
	<include file="$(find myrobotmaster)/launch/myrobotmaster_map.launch"/>
-->


    <!-- pianificazione movimento-->

        <include file="$(find myrobotmaster)/launch/myrobotmaster_move_navfn.launch"/>


<!--amcl -->
	<include file="$(find myrobotmaster)/launch/myrobotmaster_gmapping.launch"/>



<!-- visualizzazione
-->
	<include file="$(find myrobotmaster)/launch/myrobotmaster_rviz.launch"/>
 
</launch>
