<launch>
  <master auto="start"/>
<!--
per resettare costmap: rosservice call /move_base/clear_costmaps "{}"
 <rosparam file="$(find simple_costmap_configuration)/params/minimal.yaml" command="load" ns="/costmap_node/costmap" />
-->
  <!--- Run Move base -->
  <node    pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find myrobotmaster)/parameters/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find myrobotmaster)/parameters/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find myrobotmaster)/parameters/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find myrobotmaster)/parameters/move_base/global_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find myrobotmaster)/parameters/move_base/base_local_planner_params.yaml" command="load" />


    <rosparam file="$(find myrobotmaster)/parameters/dwa_local_planner_test.yaml" command="load" />
     <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> 
    <remap from="cmd_vel"  to="/cmd_vel"/>
  </node>
</launch>


